@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    color: white;
    background: url('/images/background.png') no-repeat center center fixed;
    background-size: cover;
}

.heading {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 15px auto 10px auto;
    padding: 0;
}

#our {
    color: #003459;
}

.container {
    padding: 35px;
}

.back {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 35px 0;
    width: 130px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.back img {
    width: 25px;
}

.back a {
    text-decoration: none;
    color: #003459;
}

.back:hover {
    transform: translateX(-8px);
}

.create {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#name, #email, #image {
    width: 450px;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: #003459;
    font-family: "Poppins", serif;
    font-size: 17px;
    color: white;
    outline: none;
}

input::placeholder {
    color: #4891b1;
}

#btn {
    width: 125px;
    text-align: left;
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: #ff6600;
    font-family: "Poppins", serif;
    font-size: 17px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn:hover {
    background-color: #007ea7;
    transform: translateX(10px);
}

@media (max-width: 400px){
    .heading {
        font-size: 28px;
    }
}

@media (max-width: 530px){
    #name, #email, #image {
        width: 98%;
    }
}