@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    color: #00e1ff;
    background: url('/images/background.png') no-repeat center center fixed;
    background-size: cover;
}

.full {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.heading {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding: 0;
    -webkit-text-stroke: 2px black;
    margin: 15px auto 10px auto;
}

.container {
    padding: 35px;
}

.back {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 35px 0;
    width: 160px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #324042;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow:
        0px 0px 5px black,
        -0px 0px 5px black,
        0px -0px 5px black,
        -0px -0px 5px black;

}

.back img {
    width: 25px;
}

.back a {
    text-decoration: none;
    color: #00e1ff;
    
}

.back:hover {
    transform: translateX(-8px);
}

.login {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow:
        1px 1px 0px black,
        -1px 1px 0px black,
        1px -1px 0px black,
        -1px -1px 0px black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#email, #password {
    width: 450px;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: rgb(26, 75, 71);
    font-family: "Poppins", serif;
    font-size: 17px;
    color: white;
    outline: none;
}

input::placeholder {
    color: #49848f;
}

#button {
    width: 70px;
    text-align: left;
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: #49848f;
    font-family: "Poppins", serif;
    font-size: 17px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

#button:hover {
    background-color: #00e1ff;
    color: black;
    transform: translateX(10px);
}