<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Organization</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="heading"><span id="our">COMPANY&nbsp;</span><span>DATABASE</span></div>

    <div class="container">
        <div class="back">
            <img src="/images/back arrow.png" alt="">
            <a href="/all-users">All Users</a>
        </div>

        <div class="create">Create User</div>
        
        <div class="form">
            <form action="/create" method="post">
                <input type="text" placeholder="Name" name="name" id="name" required>
                <input type="text" placeholder="Email" name="email" id="email" required>
                <input type="text" placeholder="Image URL" name="image" id="image">
                <input type="submit" value="Create User" id="btn">
            </form>
        </div>
            
    </div>
</body>
</html>