<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Logout System</title>
    <link rel="stylesheet" href="/stylesheets/style2.css">
</head>
<body>
    <div class="full">
        <div class="heading">LOGIN - LOGOUT SYSTEM</div>

        <div class="container">
            <div class="back">
                <img src="/images/back arrow.png" alt="">
                <a href="/">Go Back Home</a>
            </div>

            <div class="login">Login to Your Account</div>

            <div class="form">
                <form action="/login" method="post">
                    <input type="email" placeholder="Email" name="email" id="email" required>
                    <input type="password" placeholder="Password" name="password" id="password" required>
                    <input type="submit" value="Login" id="button">
                </form>
            </div>
        </div>

    </div>
</body>
</html>