<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Logout System</title>
    <link rel="stylesheet" href="/stylesheets/style4.css">
</head>
<body>
    <div class="full">
        <div class="heading">LOGIN - LOGOUT SYSTEM</div>

        <div class="container">
            <div class="back">
                <img src="/images/back arrow.png" alt="">
                <a href="/">Go Back Home</a>
            </div>

            <div class="logout">You have Logged Out of Your Account !</div>
        </div>

    </div>
</body>
</html>